__pycache__/
subtitle-env/
config.txt
CUDA-TEST.txt
gui.txt
logs.txt
main.txt
pipeline.txt
models.txt
utils.txt
progress_controller.txt
resources.txt
subtitle_workflow.txt
text_tools.txt
advanced_translation.txt
gui_nllb.txt
gui_m2m100.txt